 h2{
    text-align: center;
    border: 10px solid rgb(0, 255, 85);

    margin: 20px 800px 20px;
    
    
 }
li{
    color: red;
    margin: 20px 750px 20px;
}
     
.m{

    border: 5px solid blue;
 }
 